/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

hr {
    margin: 50px auto;
    border-style: dotted none none none;
    border-width: 10px;
    width: 10%;
    color: grey;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Merriweather', serif;
    font-size: 5.625rem;
    color: #66BFBF;
    /* line-height: 2; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.topContainer {
    /* background-color: #E3FDFD; */
    background-image: linear-gradient(#EAF6F6
    ,white);
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
    
}

.musician {
    text-decoration: underline;
    color: #11999E;
}

.cloud1 {
    position: absolute;
    right: 300px;
    top: 50px;
}

.cloud2 {
    position: absolute;
    bottom: 300px;
    left: 300px;
}


.profile {
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
}

.profilePicture {
    width: 35%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}

.skill-row img {
    width: 25%;
    border-radius: 100%;
}

.drumset {
    float: left;
    margin-right: 30px;
    background-color: skyblue;
}

.computer {
    float: right;
    margin-left: 30px;
}

.clear-float{
    clear: both;
}

.contact-me {
    width: 50%;
    margin: 100px auto;
    line-height: 2;
}

.contact-me p {
    margin: 20px auto 40px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottomContainer {
    position: absolute;
    background-image: linear-gradient(white
    ,#66BFBF);
    left: 0;
    right: 0;
    padding-top: 20px;
}

.bottomContainer a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin: 20px 20px;
}

.bottomContainer a:hover{
    color: #30e3cb;

}

.bottomContainer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 30px;
}